.main_menu{
    transition: width 2s, top 4s;
    &.sticky{
        position: fixed;
        width: 100%;
        top: -70px;
        transform: translateY(70px);
        transition: transform 500ms ease;
        left: 0;
        box-shadow: 0px 3px 16px 0px rgba(0,0,0, 0.1);
    }
    

    .box-quantity-cart{
        border-radius: 50%;
        width: 15px;
        height: 15px;
        background-color: #ee4266;
        color: #fff;
        line-height: 15px;
        text-align: center;
        display: block;
        position: absolute;
        top: 25px;
        right: 29px;
        font-size: 12px;
    }
    .box-message-quantity{
        border-radius: 50%;
        width: 20px;
        height: 15px;
        background-color: #ee4266;
        color: #fff;
        line-height: 15px;
        text-align: center;
        display: block;
        position: absolute;
        top: 25px;
        right: 65px;
        font-size: 12px;
    }

    @media (min-width: 991px) {
        .nav.navbar-nav.center_nav.justify-content-center{
            margin: 0 0 0 240px;
        }
    }

    
   
}

.header_area .navbar .nav .nav-item .nav-link:hover{
    color: #b7808c;
}

.top_menu .right_side li a:hover{
    color: #b7808c;
}

.top_menu .right_side li a:active{
    color: #b7808c;
}

.header_area .navbar .icons:hover {
    color: #b7808c;
}

.single-product .product-img .p_icon{
    background-color: #8b8183;
    opacity: 0.65;
}

.single-product:hover .product-btm h4{
    color: #f11b49;
}

.single-product .product-img .p_icon a:hover {
    color: #fff;
    background: #1a120b;
}

.header_area .navbar .nav .nav-item .nav-link {
    font: 500 26px / 80px "Heebo", sans-serif;
    text-transform: uppercase;
    color: #2a2a2a;
    padding: 0px;
    display: inline-block;
}

.section_gap_top {
    padding-top: 50px;
}

// .slick-slide {
//     margin: 0 20px;
// }

// .slick-track{
//     width: 4000px;
// }